.card{
    height: 450px;
    width: 350px;
    border-radius: 5px;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    text-align: center;
    justify-content: center;
    margin: 6.2px;
}

.card img{
    width: 100%;
    height: 350px;
}

.body-home{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

#nameProduct{
    font-size: 18px;
    font-weight: 500;
}

#price{
    color:rgb(255, 68, 68)
}