.nav a:hover{
    text-decoration: none;
}
.nav a{
    color: black;
    font-weight: 400;
    font-size: 16px;
    margin-right:100px ;
}

.bd{
    padding-left: 100px;
}

.bd{
    background-color:#f6f6f6;
    
    
}
@media screen and (max-width:800px) {
    .nav {
      width:100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; /* The width is 100%, when the viewport is 800px or smaller */
    }}
